In [1]:
import pandas as pd

In [10]:
alta_view = pd.read_csv("IHC_Alta_View_Hospital.csv", low_memory=False)
alta_view.head()

,CDM,Bill Item,Service Code,Service Description,Payer,Contract,Inpatient Cash Price,Inpatient Min Price,Inpatient Max Price,Inpatient Negotiated Price,Outpatient Cash Price,Outpatient Min Price,Outpatient Max Price,Outpatient Negotiated Price,Charge Price
0,NaN,NaN,001,Heart transplant or implant of heart assist sy...,Health Plan of Nevada Medicaid,Health Plan of Nevada Medicaid (HPN),$0.00,"$167,176.24","$235,365.68","$167,176.24",$0.00,$0.00,$0.00,$0.00,$0.00
1,NaN,NaN,001,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,United Healthcare,United Healthcare Medicare Advantage Complete ...,$0.00,"$167,176.24","$235,365.68","$182,641.56",$0.00,$0.00,$0.00,$0.00,$0.00
2,NaN,NaN,001,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,TriWest,TriWest Veterans Choice,$0.00,"$167,176.24","$235,365.68","$182,641.56",$0.00,$0.00,$0.00,$0.00,$0.00
3,NaN,NaN,001,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,TriCare,Tricare (HNFS) Military Program,$0.00,"$167,176.24","$235,365.68","$235,365.68",$0.00,$0.00,$0.00,$0.00,$0.00
4,NaN,NaN,001,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,SelectHealth,SelectHealth Value Network Individual Plan (ACA),$0.00,"$167,176.24","$235,365.68","$191,773.64",$0.00,$0.00,$0.00,$0.00,$0.00

In [12]:
lone_peak = pd.read_csv("MountainStar_lone-peak-hospital_standardcharges.csv")

In [5]:
lone_peak.head()

                                                                  Last updated 1/4/2021 9:41:27 AM
Procedure ID HCPCS/CPT Code Description              Gross Charge          Undiscounted Cash Price
1            093924         DOP LE ART W/EXER BIL    614.76                                 614.76
2            07366050       XR TOE(S) 2 + V BI       349.39                                 349.39
3            073660RT       XR TOE(S) 2 + V RT       174.68                                 174.68
4            073660LT       XR TOE(S) 2 + V LT       174.68                                 174.68

In [13]:
UofU_health = pd.read_csv("UofU_Health.csv", encoding= 'unicode_escape')
UofU_health.head()

                         PROC NAME CPT CODE  MAIN\nPRICE
0            ANCHOR CPS SHORT 14MM      NaN    $2,926.10
1                ANCHOR TENDON (8)      NaN      $832.50
2   AUG FEM CONE TRIATH TRI 1\T R      NaN   $12,916.00
3     AUG FEM VG 360 UNV PST 80X10      NaN    $2,600.70
4     AUGMENT TIBIAL BMT 360 71X10      NaN    $2,418.10